argh==0.26.2
attrs==20.3.0
chardet==4.0.0
decorator==5.0.6
distributed==2021.4.0
Django==3.0.3
django-heroku==0.3.1
django-waitress==0.1.0
docutils==0.17
html5lib==1.1
path==15.1.2
pathlib2==2.3.5
pathspec==0.7.0
patsy==0.5.1
python-dateutil==2.8.1
python-docx==0.8.11
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pywin32==228
pywin32-ctypes==0.2.0
regex==2021.4.4
requests==2.25.1
SQLAlchemy==1.4.7
sqlparse==0.4.1
urllib3==1.26.4
waitress==1.4.4
whitenoise==5.2.0
